<h1><%= @title %></h1>

<div>
  <form method="post" action="/meetups/<%=@meetup.id%>">
    <div>
      <input type="submit" style="color:#000;" value="Join Meet Up">
    </div>
  </form>
</div>
<br>


<%@meetup.users.each do |single| %>
<img class="profile_pic" src="<%=single.avatar_url%>" />
	<%=single.username%>
<%end%>

<h1>Meetup Details</h1>
<ul>
<li><%=@meetup.title%></li>
<li><%=@meetup.description%></li>
<li>Location: <%=@meetup.location%></li>
<li><%=@meetup.address %> </li>
<li><%=@meetup.city %> </li>
<li><%=@meetup.state %> </li>
<li><%=@meetup.zipcode %> </li>
<li><%=@meetup.topic %> </li>
</ul>
