<h1><%= @title %></h1>

<ul>
<li><%=@meetup.title%></li>
<li><%=@meetup.description%></li>
<li>Location: <%=@meetup.location%></li>
<li><%=@meetup.address %> </li>
<li><%=@meetup.city %> </li>
<li><%=@meetup.state %> </li>
<li><%=@meetup.zipcode %> </li>
</ul>
